fastapi
uvicorn[standard]
groq
sqlalchemy
pydantic-settings
pyttsx3
sounddevice
scipy
openwakeword
deepface
opencv-python
pyautogui
pygetwindow
psutil
python-multipart
websockets
markdown2
beautifulsoup4
youtube-search-python
youtube-transcript-api
yt-dlp
